@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Figtree:wght@300&family=Orbitron&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
div.background-container {
  background-image: linear-gradient(to right bottom, #fbdafb, #ffe0e7, #ffebe1, #fcf6eb, #fcfdfb);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}
horizontalGap {
  width: 20px; /* Set the width of the horizontal gap */
}
h1 {
  font-family: 'Bungee Spice', sans-serif;
  font-size: 40px; /* You can adjust the font size here */
}
/* Second h1 style */
h1.second-h1 {
  font-family: 'Figtree', sans-serif;
  font-size: 24px; /* You can adjust the font size here */
}
* {
  box-sizing: border-box;
}
/* styles.css for Countdown clock*/
/* styles.css */

.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  margin: 0 5px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  display: flex;
}

.box {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  margin-right: 5px; /* Adjust the margin between boxes */
  background-color: lightgray;
  border-radius: 8px;
  padding: 5px;
}

.number {
  font-size: 24px; /* Adjust the font size as needed */
}

.label {
  font-size: 14px; /* Adjust the font size for labels */
  margin-top: 5px;
}
.white-bg {
  background-color: white;
}
.separator.white-bg {
  color: white;
}